:root {
  --font-figtree: "Figtree", sans-serif;
}

h1 {
  font-family: var(--font-figtree);
  font-size: 3rem;
  font-weight: 800;
  font-style: bold;
  text-align: center;
  color: white;
}

h2 {
  font-family: var(--font-figtree);
  font-size: 1.5rem;
  font-weight: 800;
  font-style: bold;
  text-align: center;
  color: white;
}

p {
  font-family: var(--font-figtree);
  font-size: 1rem;
  font-weight: 500;
  font-style: medium;
  text-align: left;
  color: white;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: rgba(6, 23, 30, 1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(9, 33, 42, 1);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0rem 1.5rem;
}

.photo-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer {
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(9, 33, 42, 1);
  border-top-left-radius: 50% 1.5rem;
  border-top-right-radius: 50% 1.5rem;
  padding-top: 1.5rem;
  margin-top: 3rem;
}

.preview_pictures {
  height: 9.3rem;
  width: 9.3rem;
  border-radius: 1rem;
  border: 0.125rem;
  border-color: rgba(18, 70, 88, 1);
  margin: 0.25rem;
  overflow: hidden;
}

.preview_pictures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(9, 33, 42, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
}

.overlay_mobile > img {
  width: 18.75rem;
  height: auto;
}

.overlay_mobile > h2 {
  padding: 3rem 2rem 0.5rem 2rem;
}

.closex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
}

.nav_arrows {
  display: flex;
  justify-content: center;
}

.circle_arrow_left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 1.5rem;
  left: 4rem;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: rgba(253, 91, 79, 0.25);
}

.circle_arrow_right {
  transform: scaleX(-1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 1.5rem;
  right: 4rem;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: rgba(253, 91, 79, 0.25);
}

.overlay_mobile p {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 2rem;
}

dialog {
  margin: auto;
  border-width: none;
  border-style: none;
  border-color: none;
  border-image: none;
  padding: 0;
}
